@use './var';

header.Navbar {
    height: 11vh;    
    @include var.flex-container(row,space-between,center);
    padding: 0 0 0 1vh;
    background-color: rgba(0, 0, 0, 0.3);
    section.goTop {
        height: inherit;
        @include var.flex-container(row,space-between,center);
        gap: 1vh;
        div.text {
            @include var.flex-container(column,space-evenly,left);
            span {
                font-size: 1.2rem;
                font-weight: 300;
            }
        }
        i {
            font-size: 3rem;
            transition: all 0.3s ease-in-out;
        }
        cursor: pointer;
        &:hover {
            transition: all 0.3s ease-in-out;
            i {
                transform: translateY(-1vh);
            }
        }
    }
    div.iconContainer {
        @include var.flex-container(row,center,center);
        height: inherit;
        width: 11vh;
        a {
            img {
                height: 9vh;
                width: 9vh;
            }
        }
        transition: all 0.3s ease-in-out;
        &:hover {
            transition: all 0.3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.3);            
        }
    }
}