@use './var';

header.Navbar {
    height: 11vh;    
    @include var.flex-container(row,space-between,center);
    background-color: rgba(0, 0, 0, 0.3);
    div.links {
        height: inherit;
        @include var.flex-container(row,left,center);
        a {
            @include var.flex-container(row,center,center);
            height: inherit;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 300;
            padding: 0 5vh;
            transition: all 0.3s ease-in-out;
            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: rgba(0, 0, 0, 0.3);            
            }
        }
    }
    div.iconContainer {
        @include var.flex-container(row,center,center);
        height: inherit;
        width: 11vh;
        a {
            img {
                height: 9vh;
                width: 9vh;
            }
        }
        transition: all 0.3s ease-in-out;
        &:hover {
            transition: all 0.3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.3);            
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    header.Navbar {
        div.links {
            a {
                padding: 0 3vw;
                font-size: 1.4rem;
            }
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {

}