@use './var';

header.Navbar {
    padding: 0 0 0 1vh;
    height: 11vh;    
    @include var.flex-container(row,space-between,center);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 11;
    position: fixed;
    top: 0;
    width: 100%;
    div.func {
        @include var.flex-container(row,center,center);
        gap: 2vw;
        section.goTop {
            height: inherit;
            @include var.flex-container(row,space-between,center);
            gap: 1vh;
            div.text {
                @include var.flex-container(column,space-evenly,left);
                span {
                    font-size: 1.2rem;
                }
            }
            i {
                font-size: 3rem;
                transition: all 0.3s ease-in-out;
            }
            cursor: pointer;
            &:hover {
                transition: all 0.3s ease-in-out;
                i {
                    transform: translateY(-1vh);
                    color: var.$sec;
                }
            }
        }
        section.goBack {
            @extend .goTop;
            gap: 1.5vh;
            &:hover {
                i {
                    transform: translateX(-1vh)
                }
            }
        }
    }
    div.iconContainer {
        @include var.flex-container(row,center,center);
        height: inherit;
        width: 11vh;
        a {
            img {
                height: 9vh;
                width: 9vh;
            }
        }
        transition: all 0.3s ease-in-out;
        &:hover {
            transition: all 0.3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.3);            
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    header.Navbar {
        div.func {
            gap: 7.5vw;
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    header.Navbar {
        div.func {
            gap: 5vw;
        }
    }
}