@use "./var";
@use "./navbar";
@use "./footer";
@use "./albums";
@use "./artists";
@use "./tracks";
@use "./album";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var.$white;
}

html {
    scroll-behavior: smooth;
    user-select: none;
    body {
        background-color: var.$prim;
        div.App {
            main {
                min-height: 84vh;
                margin-top: 11vh;
                .Albums, .Artists, .Tracks {
                    min-height: inherit;
                    section.filter {
                        height: 11vh;
                        border: 1px solid green;
                    }
                    section.content {
                        padding: 3vh;
                        @include var.flex-container(row,left,center);
                        flex-wrap: wrap;
                        gap: 1%;
                        article {
                            margin: 0 0 2vh 0;
                            height: 36vh;
                            border-radius: 10px;
                            width: 15.8%;
                            border: 1px solid red;
                            box-shadow: 0px 4px 4px 0px rgb(28, 28, 28);
                            transition: 0.3s all ease-in-out;
                            &:hover {
                                transition: 0.3s all ease-in-out;
                                transform: translateY(-3%);
                            }
                        }
                    }
                    h2.loadingMsg {
                        font-size: 2rem;
                        padding: 1vh 3vh;
                        background-color: var.$sec;
                        width: fit-content;
                        box-shadow: 0px 4px 4px 0px rgb(28, 28, 28);
                        border-radius: 5px;
                        -webkit-animation: animacion_loading 1.5s ease-in-out infinite both;
                        animation: animacion_loading 1.5s ease-in-out infinite both;
                    }
                }
            }
        }
    }
}

/* Query Mobile */
@media screen and (max-width: 765px) {
    html {
        body {
            div.App {
                main {
                    .Albums, .Artists, .Tracks {
                        section.content {
                            justify-content: space-between;
                            article {
                                height: 30vh;
                                width: 47%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Query Tablet */
@media screen and (min-width: 766px) and (max-width: 1023px) {
    html {
        body {
            div.App {
                main {
                    .Albums, .Artists, .Tracks {
                        section.content {
                            justify-content: space-between;
                            article {
                                height: 28vh;
                                width: 31.5%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes animacion_loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animacion_loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}